* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.first-col {
  width: 2rem;
}

.center-text {
  text-align: center;
}

.coin-logos {
  width: 1.4rem;
}

.second-col {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  justify-content: space-between;
}

.third-col {
  text-align: end;
  padding-right: 1.5rem !important;
}

.border-top {
  border-top: 1px solid rgba(119, 119, 119, 0.425);
}

table {
  border-collapse: collapse;
}

.text-negative {
  color: #dc3545;
}

.text-positive {
  color: #4eaf0a;
}

.font-bold {
  font-weight: 600;
}
