* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.first-col {
  width: 2rem;
}

.center-text {
  text-align: center;
}

.coin-logos {
  width: 2.4rem;
}

.second-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
