.price-data-section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 144rem;
  margin: 0 auto;
  box-shadow: 0 2rem 6rem 0.5rem #61555133;
}

.header-container {
  display: flex;
  width: 144rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.753) !important;
  margin-top: 4rem;
  border-radius: 9px 9px 0px 0px;
}

.header--logo {
  width: 18rem;
}

.table-container {
  background-color: rgba(255, 255, 255, 0.753) !important;
  border-radius: 0px 0px 9px 9px;
  padding: 1.5rem;
  box-shadow: 0 2rem 6rem 0.5rem #61555133;
}

.crypto-table {
  width: 100%;
  color: #212529;
}

.crypto-table th {
  padding: 0.75rem;
  font-size: 1.4rem;
}

.coin-symbol {
  font-size: 1rem;
  padding: 0.5rem;
  color: #777;
}

.coin-price {
  width: 6rem;
  padding-right: 1rem;
  text-align: end;
}

.spinner {
  margin: 0 auto;
}

.spinner--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
  color: #4a4a4a;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
